/*
  目录：
  font-size
  line-height

  设备尺寸：
  iphone 5s   320（默认）
  lenovo      600

  PS：页面上已经禁止了 ios 的缩放比
*/

$lenovo-tablet: "screen and (min-width: 480px) and (max-width: 639px)";


/*--------------------------
  $ font-size
--------------------------*/

html {
  font-size: 10px
}

@media #{$lenovo-tablet} {
  html {
    font-size: 12px
  }
}









