/*
  目录：
  font-size
  line-height

  设备尺寸：
              width       height
  iphone 5s   320（默认）  504
  小米4/红米   360
  lenovo      600         895


  PS：页面上已经禁止了 ios 的缩放比
*/

// 范围值，不好做比例
$lenovo-tablet: "screen and (min-width: 480px) and (max-width: 639px)";


/*--------------------------
  $ font-size
--------------------------*/

html {
  font-size: 10px
}

@media #{$lenovo-tablet} {
  html {
    font-size: 12px
  }
}









