* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*-webkit-touch-callout: none;*/
  /*-webkit-user-select: none;*/
  outline: none;
  // 影响了 dd、input[radio] 等
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: Helvetica, sans-serif;
  color: #888888;
  background-color: #e5e5e5;
}

input, button, select, textarea {
  outline: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -webkit-appearance: none;
  resize: none;
}












