@charset "utf-8";

/*--------------------------
  $ 面板
  因为与 bootstrap 冲突，所以当前简单设计，当要考虑到复杂度时，到时再引入 bootstrap 最多
--------------------------*/

// 移动端面板高度
.panel{

}

.panel-line{
  height: 4rem;
  line-height: 4rem;
  color: #9da0a5;
  background-color: #ffffff;
}














