@charset "utf-8";

.record-indicator{
  display: block;
  height: 152px;
  width: 152px;
  background: url("../imgs/audio/record-indicator.png") no-repeat 0 0;
  /*这个图片本身不止是 实体录音按钮，还有别的旁白部分*/
  background-size: 200px ;
}

.record-timer{
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  //outline: 1px dashed red;
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  font-size: 2rem;
}

// 不做布局
.record-footer {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  z-index: 110; // mask 100
}

.record-btn{
  margin: auto;
  height: 3.5rem;
  line-height: 3.5rem;
  display: inline-block;
  border: 1px solid #ccc;
  width: 60%;
  text-align: center;
  border-radius: 4px;
  &.active{
    background-color: #eee;
  }
}
