@charset "utf-8";
/*
  task-body
  task-btn
*/

/*--------------------------
  $ task-body
--------------------------*/
.task-body {
  width: 100%;
  height: 11rem;
  background-color: #fff;
  //outline: 1px dashed blueviolet;
}

// 当前调试暂时隐藏
.task-body-text {
  height: 100%;
  > textarea {
    display: block;
    width: 100%;
    height: 100%; // 100px
    margin: 0;
    padding: 5px;
    line-height: 20px;
    border: none;
  }
}

.task-body-audio {
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
}

.task-body-audio-ctrl {
  height: 100%;
  line-height: 100%;
  -webkit-box-flex: 1;
  // 嵌套 flexbox
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: baseline; // 与时间上的计数对齐
  //outline: 1px dashed blue;
  &::before{
    /* 用于 flexbox 布局，content 必须有文本且为透明，用于撑高度
       box-flex 须与 block 一起使用
    */
    content: 'hi';
    color: transparent;
    display: block;
    -webkit-box-flex: 1;
  }
}

.task-icon-remake,
.task-icon-listen{
  color: #ff303b;
  display: block;
  // padding 解决伪元素溢出
  padding: 1.8rem 0;
  @extend .iconfont;
  font-size: 4rem;
}

.task-icon-remake{@extend .icon-tingzhi;}

.task-icon-listen{@extend .icon-bofang;}

.task-icon_text{
  -webkit-box-flex: 1;
  color: #ff303b;
  font-size: 1.2rem;
}

.task-body-audio-time {
  height: 9rem;
  line-height: 9rem;
  width: 9rem;
  border-radius: 4.5rem;
  text-align: center;
  margin: 0 3rem; // 仿 iwork 设计稿，来往两边推
  color: #fff;
  background-color: #06bf04;
  font-weight: 700;
  //outline: 1px dashed #06bf04;
}


/*--------------------------
  $ task-btn
--------------------------*/
.task-btn {
  height: 4rem;
  line-height: 4rem;
  color: #9da0a5;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  display: -webkit-box;
  -webkit-box-pack: center;
}

.task-btn-text {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../imgs/elements/1.png) no-repeat 0 -390px;
    background-size: 30px auto;
  }
}

.task-btn-audio {
  margin-left: auto;
  margin-right: auto;
  //outline: 1px dashed blue;
}

.task-icon-write{
  @extend .iconfont;
  @extend .icon-xiepinglun;
  font-size: 2rem;
  margin-right: 0.5rem;
}

/*

// 顶层
.container {
  position: relative;
  max-width: 640px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #e5e5e5;
}

.section {
  background-color: #fff;
  margin-bottom: 10px;

  > .item {
    position: relative;
    display: block;
    width: 100%;
    margin-left: 12px;
    height: 40px;
    line-height: 40px;
    @include lenovo-tablet{
      height: 50px;
      line-height: 50px;
    }


    vertical-align: middle;
    // is- 状态类
    /!*&.is-compact {
      //display: inline-block;
      //width: auto;
      //width: 100px;
    }*!/
    &.is-center {
      text-align: center;
      padding: 0;
      margin: 0 auto;
    }
    &.with-border-dark {
      border-width: 0 0 1px;
      -webkit-border-image: url(../imgs/border_dark.gif) 2 stretch;
    }
  }
  > textarea.item {
    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 5px;
    line-height: 20px;
    border: none;
  }
}

.item-title {
  width: 100px;
  color: #111111;
}

.item-value {
  //outline: 1px dashed blue;
  position: absolute;
  right: 40px;
  top: 0;
  > .item-badge {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #06bf04;
    // 上下 auto 用于居中
    margin: auto 0 auto 2px;
  }
}

.item-trigger {
  @extend .iconfont;
  @extend .icon-arrow-1;
  font-size: 16px;
  position: absolute;
  right: 20px;
}

// 通用性质，暗示为 item 内部元素
.item-inner{
  vertical-align: middle;
}

.record-ready {
  @extend .iconfont;
  @extend .icon-huatong1;
  font-size: 30px;
}*/



