@charset "utf-8";
/*
  变量
  task-body
  task-btn
  mask
  task-list
  上传图片
  创建按钮
  copyright
  task-detail
*/


$title-color: #161616;
$directive-color: #a3a3a3;

$doneBgColor: #06bf04;

/*--------------------------
  $ task-body
--------------------------*/
.task-body {
  position: relative;
  width: 100%;
  height: 11rem;
  background-color: #fff;
  //outline: 1px dashed blueviolet;
}

// 当前调试暂时隐藏
.task-body-text {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &.hide {
    display: none;
  }
  > textarea {
    display: block;
    width: 100%;
    height: 100%; // 100px
    margin: 0;
    padding: 5px;
    line-height: 20px;
    border: none;
  }
}

.task-body-audio {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  &.hide {
    display: none;
  }
}

.task-body-audio-ctrl {
  height: 100%;
  line-height: 100%;
  -webkit-box-flex: 1;
  // 嵌套 flexbox
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: baseline; // 与时间上的计数对齐
  //outline: 1px dashed blue;
  &::before {
    /* 用于 flexbox 布局，content 必须有文本且为透明，用于撑高度
       box-flex 须与 block 一起使用
    */
    content: 'hi';
    color: transparent;
    display: block;
    -webkit-box-flex: 1;
  }
}

.task-icon-remake,
.task-icon-listen {
  color: #ff303b;
  display: block;
  // padding 解决伪元素溢出
  padding: 1.8rem 0;
  @extend .iconfont;
  font-size: 4rem;
}

.task-icon-remake {
  @extend .icon-stop;
}

.task-icon-listen {
  @extend .icon-run;
}

.task-icon_text {
  -webkit-box-flex: 1;
  color: #ff303b;
  font-size: 1.2rem;
}

.task-body-audio-time {
  height: 9rem;
  line-height: 9rem;
  width: 9rem;
  border-radius: 4.5rem;
  text-align: center;
  margin: 0 3rem; // 仿 iwork 设计稿，来往两边推
  color: #fff;
  background-color: $doneBgColor;
  font-weight: 700;
  //outline: 1px dashed #06bf04;
}

// 动画切换 task-body
.task-slideIn {
  //animation: 0.3s fixedPoint-slideIn forwards ease-out;
  // mobile need -webkit-
  -webkit-animation: 0.3s slideIn forwards ease-out;
}

.task-slideOut {
  //animation: 0.3s fixedPoint-slideOut forwards ease-out;
  -webkit-animation: 0.3s slideOut forwards ease-out;
}

.task-btn-record {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  > a {
    margin: auto;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    border: 1px solid #ccc;
    width: 60%;
    text-align: center;
    border-radius: 4px;
  }
}

/*--------------------------
  $ task-btn
--------------------------*/
.task-btn {
  height: 4rem;
  line-height: 4rem;
  color: #9da0a5;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  display: -webkit-box;
  -webkit-box-pack: center;

  //> *{outline: 1px dashed black;}
}

.task-icon-write,
.task-icon-speak {
  //outline: 1px dashed blue;
  @extend .iconfont;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.task-icon-write {
  @extend .icon-write;
}

.task-icon-speak {
  @extend .icon-huatong-hollow;
}

/*--------------------------
  $ mask
--------------------------*/

.mask {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  &.task-record-mask {
    top: 15rem;
    bottom: 4rem;
  }
  /*&.task-card-mask {
    top: 15rem;
    bottom: 4rem;
  }*/
}

/*--------------------------
  $ task-list
--------------------------*/
// ul
.task-list {
  > li {
    //background-color: #299982;
    margin-left: 1rem;
    border-width: 0 0 1px;
    -webkit-border-image: url(../imgs/border_dark.gif) 2 stretch;
    &:last-child {
      -webkit-border-image: none;
    }
    > a {
      padding-left: 1rem;
      height: 3.5rem;
      line-height: 3.5rem;
      color: $title-color;
      position: relative;
      //outline: 1px dashed red;
      display: -webkit-box;
    }
  }
}

.task-list-label {
  display: inline-block;
  width: auto;
}

.task-list-value {
  color: $directive-color;
  text-align: right;
  -webkit-box-flex: 1;
  //outline: 1px dashed blue;
}

.task-list-arrow {
  color: $directive-color;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  @extend .iconfont;
  @extend .icon-arrow-1;
  //outline: 1px dashed green;
}

/*--------------------------
  $ 上传图片
--------------------------*/
.task-upload-photo {
  @extend .iconfont;
  @extend .icon-photo;
  display: inline-block;
  font-size: 4rem;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  margin-left: 1.5rem;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 0.5rem;
}

/*--------------------------
  $ 创建按钮
--------------------------*/
.task-btn-footer {

  margin: 1rem 1.5rem 6rem;
  > a {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    background-color: $doneBgColor;
    border: 1px solid #1fa01d;
    border-radius: 4px;
    text-align: center;
    padding: 0.8rem 0;
  }
  &.fixed{
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0rem;
    margin: 0 0 2rem 0;
  }
}

/*--------------------------
  $ copyright
--------------------------*/
footer > .copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  > a {
    display: block;
    padding: 2rem 0;
    text-align: center;
    color: $directive-color;
    font-size: 1rem;
  }
}


/*--------------------------
  $ task-card
  高度由子元素撑起
  仅仅根元素具有点击事件，子元素不具有单独的事件
--------------------------*/
.task-card{
  position: relative;
  background-color: #fff;
  margin: 1rem;
  border-radius: 4px;
  // box-shadow 的选值与响应式设计
  box-shadow:1px 1px 2px #ccc;
  &::before{
    content: '';
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    background-color: rgba(130,218,255,0.1);
    display: none;
  }
  &.active::before{
    display: block;
  }

}

.task-card-header{
  color: $title-color;
  padding: 0 1rem;
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
}

.task-card-title{
  -webkit-box-flex: 1;
  //outline: 1px dashed blue;
}

.task-card-state{
  margin: 0 1rem;
  padding: 0 1rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  background-color: #ff303b;
  border-radius: 10px;
  //outline: 1px dashed green;
  &.done{
    background-color: $doneBgColor;
  }
  &.doing{
    background-color: #0066bb;
  }
}

.task-card-directive{
  @extend .iconfont;
  @extend .icon-arrow-1;
  // 调整 iconfont
  color: $directive-color;
  //outline: 1px dashed orange;
  margin-right: -0.5rem; // 原则：父元素通用，子元素定制
}


.task-card-body{
  padding: 1rem;
  position: relative;
  font-size: 1.2rem;
  display: -webkit-box;
}

.task-card-photo{
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  //outline: 1px dashed orange;
  > img {
    width: 5rem;
    height: 5rem;
  }
}

.task-card-abstract{
  -webkit-box-flex: 1;
  //outline: 1px dashed blue;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -webkit-box-align: start;
}


/*--------------------------
  $ task-detail
--------------------------*/
// ul
.task-detail-issue-list{
  line-height: 2rem;
  padding: 0 1rem;
  color: #a3a3a3;
  background-color: #fff;
  font-size: 1.1rem;
  > li{
    padding: 1rem 0;
  }
}

.task-detail-issue-title{
  color: $title-color;
  font-size: 1.4rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.task-detail-issue-body{
  text-indent:2em;
  font-size: 1.3rem;
}

.task-detail-issue-photo{
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  //outline: 1px dashed orange;
  > img {
    width: 5rem;
    height: 5rem;
  }
}

.task-detail-divider{
  color: $title-color;
  padding: 1rem 0 1rem 1rem;

}

.task-detail-deal-list{
  padding: 1rem;
  color: #a3a3a3;
  background-color: #fff;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.task-detail-deal-title{
  color: $title-color;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.task-detail-deal-desc{
  margin-top: 1rem;
  font-size: 1.4rem;
}

.task-detail-deal-photo{
  margin-top: 1rem;
  > img {
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
  }
}

.task-issue-delete{
  @extend .iconfont;
  @extend .icon-lajitong;
  position: absolute;
  color: red;
  right: 1rem;
}

/*--------------------------
  $ task-deal
--------------------------*/
.task-deal-panel{
  padding: 0.8rem;
  background-color: #fff;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  font-size: 1.4rem;
}
/*

.task-deal-switch{
  outline: 1px solid orange;
}

*/

