@charset "utf-8";

// 顶层
.container {
  position: relative;
  max-width: 640px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #e5e5e5;
}

.section {
  background-color: #fff;
  margin-bottom: 10px;

  > .item {
    position: relative;
    display: block;
    width: 100%;
    margin-left: 12px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    // is- 状态类
    &.is-compact {
      //display: inline-block;
      //width: auto;
      width: 100px;
    }
    &.is-center {
      padding: 0;
      margin: 0 auto;
    }
    &.with-border-dark {
      border-width: 0 0 1px;
      -webkit-border-image: url(../imgs/border_dark.gif) 2 stretch;
    }
  }
  > textarea.item {
    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 5px;
    line-height: 20px;
    border: none;
  }
}

.item-title {
  color: #111111;
  //outline: 1px dashed red;
}

.item-value {
  outline: 1px dashed blue;
  position: absolute;
  right: 40px;
  top: 0;
  > .item-badge {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: #06bf04;
    // 上下 auto 用于居中
    margin: auto 0 auto 2px;
  }
}

.item-trigger {
  @extend .iconfont;
  @extend .icon-arrow-1;
  font-size: 16px;
  position: absolute;
  right: 20px;
}

.record-ready {
  @extend .iconfont;
  @extend .icon-huatong1;
  font-size: 30px;
}