/*--------------------------
  $ box = flexbox 2009
--------------------------*/

%l-box {
  display: -webkit-box;
}

%l-box-align-center {
  -webkit-box-align: center;
}


.l-box-center{
  @extend %l-box;
  -webkit-box-pack: center;
  @extend %l-box-align-center;
}

.l-box-justify-center{
  @extend %l-box;
  //-webkit-box-pack: justify;
  -webkit-box-pack: center;
  @extend %l-box-align-center;
}

.l-box-v-center{
  @extend %l-box;
  -webkit-box-orient: vertical;
  @extend %l-box-align-center;
  -webkit-box-pack: center;
}






