@charset "utf-8";


.l-container {
  position: relative;
  max-width: 640px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #e5e5e5;
}

.l-section {
  background-color: #fff;
  margin-bottom: 10px;

}