/* reset */
*{-webkit-touch-callout: none; -webkit-user-select: none;margin: 0; padding: 0; outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-sizing: border-box;}
html{min-height: 100%; font-size: 100%; -webkit-text-size-adjust: 100%;}
body{margin:0; padding:0; width: 100%; min-height: 100%; font-family: Helvetica, Arial, sans-serif; font-size: 14px;position: relative; word-break:break-all;}
a{text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);}
img{-ms-interpolation-mode: bicubic; vertical-align: middle;}
img:not([src*="/"]){display: none;}
table{border-collapse: collapse; border-spacing: 0;}
th, td, caption{vertical-align: middle;}
textarea{resize: none;}
input, button, select, textarea{outline: none; border-radius: 0; font-family: inherit; font-size: inherit;}
ul,ol,li{list-style: none;}


a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


a{color: #7e7e7e;}
body{color: #888888; background-color: #e5e5e5;}
.fr{float: right;}
.search a, .ico_arrow, .c_chb, .c_chb:checked::after, .select_wrap .on:after, .search_box button, .ico_plan, .ico_address, .ico_time, .upload_img .file_btn, .upload_img .del_img, .delete_img:after, .ico_tel, .ico_trajectory, .clear_btn, .add_btn{display: inline-block; background: url(../imgs/s.png) no-repeat; background-size: 100px auto;}

.fixed{position: fixed; left: 0; bottom: 0; width: 100%; background-color: #fff; border-width: 1px 0 0; z-index: 1000;}

.border_dark, .header .nav a, .header .nav a span, .menu a, .apply_list > li, .select_wrap ul, .select_wrap li, .addres_wrap{-webkit-border-image: url(../imgs/border_dark.gif) 2 stretch;}
.border_light, .list li{-webkit-border-image: url(../imgs/border_light.gif) 2 stretch;}


.b_top{border-width: 1px 0 0;}
.b_right, .menu a{border-width: 0 1px 0 0;}
.b_bottom{border-width: 0 0 1px;}
.b_left{border-width: 0 0 0 1px;}

.container{position: relative; max-width: 640px; min-height: 100%; margin: 0 auto; background-color: #fff; overflow: hidden;}

/* 外勤计划 */
.header{height: 47px;}
.header .fixed{bottom: auto; top: 0; display: table;}
.header .fixed > div{display: table-cell; vertical-align: top;}

.header .search{position: relative; width: 44px; height: 44px; border-width:  0 0 1px 1px; z-index: 1;}
.header .search a{display: block; height: 44px; background-position: 0 0;}

.header .nav{display: -webkit-box; position: relative; height: 46px; overflow: hidden;}
.header .nav .search_input{position: absolute; left: 100%; top: 0; width: 100%; height: 100%; background-color: #fff; border-width: 0 0 1px;}
.header .animated{-webkit-transition: .4s;}
.header .nav .search_input input{width: 100%; height: 100%; padding-left: 10px; -webkit-appearance: none; border: none;}
.header .nav a{display: block; -webkit-box-flex: 1; text-align: center; border-width: 0 0 1px; line-height: 20px; padding: 12px 0;}
.header .nav a:visited{display: block; -webkit-box-flex: 1; text-align: center; border-width: 0 0 1px; line-height: 20px; padding: 12px 0;}
.header .nav .cur{-webkit-border-image: none; border-bottom: 2px solid #1b9e19; color: #111111;}
.header .nav a span{display: block; border-width: 0 1px 0 0;}
.header .nav a em{font-style: normal; display: inline-block; width: 70px;}
.header .nav a:last-child span{border-width: 0;}

.menu{height: 44px;}
.menu .fixed{display: -webkit-box; background-color: #fafafa;}
.menu a{display: block; -webkit-box-flex: 1; line-height: 44px; text-align: center; width: 33%;}
.menu a:last-child{border-width: 0;}
.menu.bold a{color: #007aff; font-size: 16px; font-weight: bold;}
.menu.bold a.on{color: #fd472b;}
.menu .green{color: #06bf04 !important;}

.list{position: relative; padding: 0 10px;}
.no_list, .no_list_text{border-width: 0; height: 300px; background: url(../imgs/no_list.png) center center no-repeat; background-size: 204px auto;}
.no_list_text{background: none; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}
.no_list_text:after{content: ''; display: block; width: 204px; height: 28px; background: url(../imgs/no_list.png) 0 -35px no-repeat; background-size: 204px auto;}
.list li{border-width: 0 0 1px; padding: 0 5px;}
.list li > a{display: block; padding: 8px 0 10px; color: #888888; font-size: 14px; line-height: 1.6; color: #555555; -webkit-tap-highlight-color: transparent;}
.list h3{color: #111111; font-size: 16px; overflow: hidden; line-height: 30px; margin-bottom: -4px;}
.list h3 strong{color: #007aff; font-size: 12px; font-weight: normal; margin-left: 3px;}
.list h3 b{color: #fd472b; font-size: 12px; font-weight: normal; margin-left: 3px;}
.list h3 samp{color: #06bf04; font-size: 12px; font-weight: normal; margin-left: 3px;}
.list .darker{color: #111111;}
.list .lighter{color: #969696;}

.list .btn_wrap{font-size: 0px; margin-top: 10px; height: 30px; overflow: hidden;}
.list .btn_wrap button{margin-right: 15px;}
.list span.btn_wrap{float: right; margin: 0;}
.list span.btn_wrap button{margin: 0 0 0 5px;}

.list .my_list{min-height: 88px;}
.list .my_list a{position: relative; padding-left: 64px; min-height: 70px;}
.my_list .user_info{position: absolute; left: 0; width: 60px; color: #646464; font-weight: bold; text-align: center;}
.my_list .user_info i{display: block; width: 50px; height: 50px; margin: 0 auto 3px; background-size: cover; background-position: center; background-repeat: no-repeat; border-radius: 50%;}
.my_list .user_info p{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

.my_list1 h3{margin-bottom: 0;}
.my_list1 .status{float: right; width: 84px; text-align: center; color: #646464; font-size: 12px; margin-top: 2px;}


.comm_btn, .comm_btn1{-webkit-appearance: none; display: inline-block; height: 30px; line-height: 28px; padding: 0 13px; border: 1px solid #7e7e7e; border-radius: 5px; font-size: 14px; background-color: #ffffff; color: #7e7e7e; font-weight: normal;}
.comm_btn.red{color: #f43531; border-color: #f43531;}
.comm_btn.blue{color: #007aff; border-color: #007aff;}
.comm_btn.green{color: #06bd04; border-color: #06bd04;}
.comm_btn.wxrecord{color: #fff; background-color: #06bd04; font-weight:bold;width: 100%}

.comm_btn1{background-color: #007aff; border-color: #007aff; color: #fff;}



.loading{padding: 10px 0 20px; line-height: 20px; width: 100%; text-align: center; color: #333; display: none;}
.loading i{display: inline-block; width: 16px; height: 16px; background: url(../imgs/loading.gif) 0 0 no-repeat; background-size: 16px auto; vertical-align: middle; margin-right: 4px;}

.copyright{text-align: center; padding: 15px 0; font-size: 10px;color: #a3a3a3;}

/* 申请外出 */
.apply_wrap{background-color: #e5e5e5;}
.apply_wrap form{overflow: hidden;}
.apply_list{line-height: 43px; padding-left: 15px; margin-bottom: 20px;background-color: #fff; border-width: 1px 0; font-size: 14px;}
.apply_list > li{border-width: 0 0 1px; display: table; width: 100%; padding-right: 15px;}
.apply_list li:last-child{border-width: 0;}
.apply_list li > div{display: table-cell; vertical-align: middle;}
.apply_list li > div:first-child{width: 130px; color: #111111;}
.apply_list li > div:nth-of-type(2){text-align: right;}
.apply_list li > div:last-child{width: 18px; text-align: right;}
.apply_list li.total > div{width: 50%; padding: 0;}
.apply_list .ico_flag{margin: 0 5px 0 0;}
.apply_list input[type="text"], .comm_txt{-webkit-appearance: none; width: 100%; height: 100%; text-align: right; border: none; background: transparent;}
.apply_list textarea{display: block; -webkit-appearance: none; width: 100%; border: 1px solid #a9a9a9; border-radius: 7px; margin: 14px 0; padding: 5px; line-height: 26px; height: 90px; background-color: #ebebeb;}
.apply_list span{color: #888888;}
.apply_list [type="checkbox"]{width: 24px; height: 24px; vertical-align: middle;}
.apply_list select{display: none;}
.apply_list label:last-child{padding-left: 30px;}

.ico_arrow{width: 8px; height: 13px; background-position: -90px 0; vertical-align: -2px;}
.c_chb, .c_chb:checked::after{-webkit-appearance: none; width: 18px !important; height: 18px !important; border-radius: 18px; border: none; background-color: #e6e6e6 !important; vertical-align: -4px; background-position: 0 -45px; margin-right: 5px;}
.c_chb:checked::after{content: ''; display: block; background-color: #06bd04 !important;}
.error div:first-child{color: red !important;}
.error textarea{border-color: red;}

/* map */
.map_warp{position: absolute; /* 不能用fixed */ left: 0; top: 0; width: 100%; height: 100%; -webkit-box-sizing: border-box; padding: 50px 0 45px; z-index: 2000; background-color: #fff; display: none; /*-webkit-transition: left .4s ease;*/}
.map_warp.slideIn{display: block; -webkit-animation: slideIn .3s ease;}
.map_warp.slideOut{display: block; -webkit-animation: slideOut .3s ease;}
@-webkit-keyframes slideIn{
    0%{-webkit-transform: translate3d(100%, 0, 0); opacity: 0;}
    100%{-webkit-transform: translate3d(0, 0, 0); opacity: 1;}
}
@-webkit-keyframes slideOut{
    0%{-webkit-transform: translate3d(0, 0, 0); opacity: 1;}
    100%{-webkit-transform: translate3d(100%, 0, 0); opacity: 0;}
}

.map_wrap{height: 100%; background-color: #ccc;}
.search_wrap, .addres_wrap{position: absolute; left: 0; width: 100%; -webkit-box-sizing: border-box; z-index: 10;}
.search_wrap{top: 0; height: 50px; padding: 10px;}
.search_box{position: relative; height: 30px; border: 1px solid #026fe5; border-radius: 5px; overflow: hidden;}
.search_box input{text-align: left; padding: 0 5px;}
.search_box button{position: absolute; right: 0; top: 0; width: 40px; height: 30px; background-color: #2f91fc;-webkit-appearance: none; border: none; background-position: -22px -45px;}
.addres_wrap{bottom: 0; height: 45px; padding: 0 10px 0 12px; line-height: 45px; border-width: 1px 0 0; background-color: #fafafa; color: #323232; overflow: hidden;}
.addres_wrap strong{color: #111111;}
.addres_wrap .comm_btn1{margin-top: 7px;}
.clear_btn{-webkit-appearance: none; border: none; margin: 11px 10px 0 5px; width: 23px; height: 23px; background-position: -64px -35px; border-radius: 50%; background-color: #55575b;}


/* 下拉框 */
.hide{height: 100%; overflow: hidden;}
.select_wrap{position: fixed; width: 100%; left: 0; top: 0; height: 100%; background-color: #e5e5e5; z-index: 1001; display: none; -webkit-transition: .4s;}
.select_wrap ul{line-height: 43px; background-color: #fff; padding: 0 12px; font-size: 14px; border-width: 1px 0;}
.select_wrap li{border-width: 0 0 1px;}
.select_wrap li:last-child{border-width: 0;}
.select_wrap a{display: block; color: #111111;}
.select_tt{height: 49px; line-height: 49px; font-size: 14px; font-weight: normal; background-color: #e5e5e5; padding-left: 15px;}
.slideDown{display: block; -webkit-animation: slideDown .4s ease;}
@-webkit-keyframes slideDown{
    0%{top: -100%;}
    100%{top: 0;}
}
.select_wrap .detail_list{background-color: #fff;}
.select_wrap .on:after{content: ''; position: absolute; right: 15px; margin-top: 14px; width: 13px; height: 10px; background-position: -85px -15px;}

/* 签到 */
.sub_btn_wrap{padding: 0 12px 20px;}
.sign_sub{display: block; height: 43px; line-height: 43px; background-color: #06be04; border: 1px solid #1e951f; border-radius: 5px; font-size: 18px; color: #fff; text-align: center;}
.ico_plan, .ico_address, .ico_time{vertical-align: -4px; margin-right: 5px;}
.ico_plan{width: 12px; height: 18px; background-position: -64px -60px;}
.ico_address{width: 13px; height: 17px; background-position: -64px -80px;}
.ico_time{width: 17px; height: 17px; background-position: -79px -60px;}
.sign_wrap [type="text"]{color: #646464;}
.add_btn{width: 22px; height: 22px; background-position: -78px -119px; vertical-align: middle; margin-left: 10px;}

/* 详情  */
.detail_wrap{overflow: hidden;}
.detail_tt{height: 43px; line-height: 43px; padding-left: 15px; font-size: 16px; font-weight: bold; color: #323232; background-color: #e5e5e5;}
.detail_list{margin-bottom: 0;}
.detail_list > li{position: relative; padding: 0 15px 0 90px; display: block; min-height: 43px;}
.detail_list > li > p{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: right; color: #646464;}
.detail_list li > span{position: absolute; left: 0; width: 90px; text-align: left; color: #111111;}
.detail_list .upload_img{margin-left: -90px;}
.ico_tel{width: 17px; height: 17px; background-position: -60px -105px; vertical-align: middle; margin-right: 5px;}
.ico_trajectory{width: 19px; height: 12px; background-position: -80px -105px; margin-right: 5px;}

/* 查看轨迹 */
.trajectory_tt{display: table; width: 100%; height: 50px; line-height: 50px; background-color: #fff;}
.trajectory_tt span{display: table-cell; padding: 0 10px; white-space: nowrap; color: #727272;}
.trajectory_tt span:nth-of-type(2){width: 100%; text-align: center;}
.trajectory_tt input{-webkit-appearance: none; border: none; background: none; color: #007aff; text-align: center; /* todo line-height */}
.trajectory{position: absolute; left: 0; width: 100%; top: 50px; bottom: 0;}

/* 图片上传 */
.upload_img{overflow: hidden; padding: 18px 0 15px;}
.upload_img li{position: relative; float: left; margin: 0 16px 10px 0; width: 58px; height: 58px;}
.upload_img [type="file"]{position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; z-index: 1;}
.upload_img .file_btn{display: block; height: 58px; background-position: 0 -78px; z-index: 0;}
.upload_img li span{position: relative; float: left; width: 100%; height: 100%; border-radius: 3px; background-repeat: no-repeat; background-size: cover; background-position: center; z-index: 2;}
.upload_img .del_img{position: absolute; right: -10px; top: -10px; width: 23px; height: 23px; border-radius: 50%; background-color: #f53430; background-position: -64px -35px; display: none; z-index: 10;}

/* swipe */
.swipe{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .4); z-index: 2000; display: none;}
.imgBox{position: absolute; left: 25px; top: 25px; right: 25px; bottom: 25px; background-color: #55575b;
    -webkit-animation: bounceIn .5s ease;
}
.imgBox ul{position: relative; width: 100%; height: 100%; overflow: hidden;}
.imgBox li{position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
.imgBox li div{height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center;}
.imgBox li.cur{display: block; z-index: 10;}
.imgBox li.action{z-index: 11; display: block;}
.animated{-webkit-transition: .3s;}
.swipe .swipe_num{position: absolute; left: 0; width: 100%; height: 8px; line-height: 8px; bottom: 60px; text-align: center; z-index: 11;}
.swipe.hide_del .swipe_num{bottom: 10px;}
.swipe .swipe_num span{display: inline-block; width: 8px; height: 8px; border-radius: 8px; background-color: #7c7c7c; margin: 0 4px;}
.swipe .swipe_num span.on{background-color: #fff;}

.delete_img{position: absolute; left:  0; bottom: 0; width: 100%; height: 50px; background-color: rgba(0, 0, 0, .5); z-index: 11;}
.delete_img:after{content: ''; position: absolute; left: 50%; top: 50%; width: 34px; height: 33px; margin: -16px 0 0 -17px; background-position: -49px 0px;}
.cancle_box{position: absolute; right: -15px; top: -15px; width: 30px; height: 30px; font-size: 28px; line-height: 30px; text-indent: 7px; color: #fff; background-color: #55575b; border-radius: 50%; z-index: 11;}
.uploaded{float: right; margin: 6px 10px 0 0; width: 30px; height: 30px; background-repeat: no-repeat; background-size: cover; background-position: center;}
@-webkit-keyframes bounceIn{
    0%{opacity: 0; -webkit-transform: scale(.3);}
    50%{-webkit-transform: scale(1.05);}
    70%{-webkit-transform: scale(.9);}
    100%{opacity: 1; -webkit-transform: scale(1);}
}